@using BlazorQuanLySinhVien.DTO;
<h3>DanhSachLopHoc</h3>


@*<GridRow>
    <GridCol Span="24">
        <PopupSinhVien @ref="@popupSinhVien" Clear="Clear" IsCreate="@isCreate" OnAddSinhVien="HandleAddSinhVien"></PopupSinhVien>
        <br />

        <EditForm Model="@svSearch"
                  OnValidSubmit="@OnFinishSearchAsync"
                  OnInvalidSubmit="@OnFinishFailedSearch">
            <div class="row">
                <div class="form-group col-md-1">
                    <label for="id">ID</label>
                    <Input @bind-Value="@svSearch.ID" id="id" />
                </div>
                <div class="form-group col-md-2">
                    <label for="name">Tên</label>
                    <Input @bind-Value="@svSearch.Ten" id="name" />
                </div>
                <div class="form-group col-md-2">
                    <label for="address">Địa chỉ</label>
                    <Input @bind-Value="@svSearch.DiaChi" id="address" />
                </div>
                <div class="form-group col-md-2">
                    <label for="date1">Ngày bắt đầu</label>
                    <DatePicker @bind-Value="@svSearch.NgayBatDau" id="date1" Format="dd/MM/yyyy" />
                </div>
                <div class="form-group col-md-2">
                    <label for="date2">Ngày kết thúc</label>
                    <DatePicker @bind-Value="@svSearch.NgayKetThuc" id="date2" Format="dd/MM/yyyy" />
                </div>
                <div class="form-group col-md-2">
                    <label for="form-select">Lớp</label>
                    <InputSelect @bind-Value="@svSearch.idLopHoc" class="form-select">
                        <option value="-1">Tất cả lớp</option>
                        @foreach (var c in listLH)
                        {
                            <option value="@c.ID">@c.TenLop</option>
                        }
                    </InputSelect>
                </div>
                <div class="form-group col-md-1 d-flex justify-content-center align-items-center">
                    <Button HtmlType="submit" Style="margin-top: 24px;">Tìm</Button>
                </div>
            </div>

            <br />
        </EditForm>

        <br />
        <Table TItem="LopHocDTO" DataSource="@listLopHoc"
          ScrollX="1000" ScrollY="500">
            <Column @bind-Field="context.ID" Width="50" Fixed="left" Title="ID" Align="ColumnAlign.Center" />
            <Column @bind-Field="context.TenLop" Fixed="left" Title="Tên" />
            <Column @bind-Field="context.MonHoc" Title="Ngày Sinh" Format="dd-MM-yyyy" />
            <Column @bind-Field="context.TenGiaoVien" Title="Địa Chỉ" />
            <Column @bind-Field="context.ID" Title="ID Lớp học" Hidden />

            <ActionColumn Title="Action">
                <Space>
                    <SpaceItem>
                        <Button OnClick="() => DetailUpdateLopHoc(context)" Type="@ButtonType.Primary">Chi tiết</Button>
                    </SpaceItem>
                </Space>
                <Space>
                    <SpaceItem>
                        <Popconfirm Title="Bạn chắc muốn xoá" OkText="Yes" CancelText="No" OnConfirm="@(async () => await DeleteLopHoc(context))">
                            <Button Danger><Icon Type="delete" Theme="outline" /></Button>
                        </Popconfirm>
                    </SpaceItem>
                </Space>
            </ActionColumn>
        </Table>
    </GridCol>
</GridRow>*@